<section>
    <h1>Me Elsewhere</h1>
    <ul id="me-elsewhere">
        <li class="post"><a href="http://twitter.com/briantimmer" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
        <li class="post"><a href="http://instagram.com/briantimmer" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
        <li class="post"><a href="http://medium.com/@briantimmer" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i> Medium</a></li>
        <li class="post"><a href="https://www.goodreads.com/user/show/51441021-brian-timmer" target="_blank"><i class="fa fa-book" aria-hidden="true"></i> Goodreads</a></li>
    </ul>
</section>